* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
}
.team{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(83, 83, 162);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;

}
.team-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: all 0.3s ease;
}
.center h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
.box{
    padding: 16px;
    background:"";
    border-radius: 10px;
    transition: all .38s ease;
}
.box h3{
    color: #140202;
    font-size: 23px;
    margin-bottom: 8px;
    font-weight: 200;
}
.box h5{
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.icons i{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}
.icons i:hover{
    transform: scale(1.2);
    color: #f00;
}
.box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
/* media queries */
@media(max-width: 1200px){
    .team-content{
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    }
}

@media(max-width: 768px){
    .team{
        height: auto;
        padding: 90px 2%;
    }
    .center h1{
        font-size: 3.2rem;
    }
    .team-content {
        margin-top: 2rem;
        gap: 1rem;
    }
    .box {
        padding: 12px;
    }
    .box h3 {
        font-size: 20px;
    }
    .box h5 {
        font-size: 12px;
    }
}