.acad{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    padding-top: 7em;
    color: red;
}
.dead{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: #273b9f 2px solid;
    gap: 1em;
    margin: .5em;
    border-radius: 5px;
}