.acad{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    color: red;
}
.dead{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: #ccc 2px solid;
    padding-top: 1em;
    padding-left: 1px;
    padding-bottom: 1em;
    gap: 0em;
    margin: 0;
    margin-bottom: 1em;
    border-radius: 5px;
    transition: 0.3s;
    width: 90%;
    padding-right: 6px;
    max-width: 1000px;
    

}
.dead:hover{
    transform: scale(1.03); 
    background-color: #f0f0f0;
}
.image-title{
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.club_img{
    width: 250px;
    border: #273b9f 2px solid;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 1em;
}

.club_img:hover{
    transform: scale(1.03);
}
.mail-icon{
    font-size: 30px;
    transition: 0.3s;
}
.mail-icon:hover{
    transform: scale(1.1)

}
.insta-icon{
    font-size: 30px;
    color: red;
    margin-left: 1em;
    transition: 0.3s;
}
.insta-icon:hover{
    transform: scale(1.1)
}
.club-desc{
    color: #273b9f;
}
.contact{
    color: #273b9f;
    margin: 1em;
}
.club-title{
    color: #273b9f;
    margin-bottom: 0.5em;
}
.join-button{
    border: none;
    background-color: white;
    color: #273b9f;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    transition: 0.4s;
    border: 1px solid #273b9f;
    margin-top: 1em;
    margin-bottom: 1em;
}
.content{
    margin-bottom: 1em;
}
.join-button:hover{
    border: none;
    background-color: #273b9f;
    color: white;
}


.view-more {
    display: block;
    margin-top: 8px;
    margin-left: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(156, 39, 39);
  }
  .truncate{
    color: #273b9f;
  }
  .custom-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    min-width: 350px;
    padding: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  }
.modal-title{
    display: flex;
}
.date-posted{
    font-size: 13px;
    color: #919191;
}

.spinner{
    position: absolute;
    margin: 0 auto;
    left: 45%;
    right: 45%;
    top: 45%;
    bottom: 45%;
}
/* styles.css or your preferred CSS file */
@keyframes colorChange {
    0% {
      background-color: red;
      color: white;
      padding: 3px;
      border-radius: 5px;
      border: red 1px solid;
      width: 100px;
    }
    
    100% {
        background-color: white;
        color: red;
        padding: 3px;
        border-radius: 5px;
        border: red 1px solid;
        width: 100px;
    }
  }
#live{
    animation: colorChange 1s linear infinite;
}
.live{
    background-color: red;
      color: white;
      padding: 3px;
      border-radius: 5px;
      border: red 1px solid;
      width: 100px;
}
.clubs-block{
    padding-top: 10vh;
}
.clubs_header{
    margin-bottom: 3em;
}
@media (max-width: 700px){
    .dead{
        display: flex;
        flex-direction: column;
    }
}