.oppo_main{
    padding-top: 7em;
    position: relative;
}

.share_block{
    margin-top: 2em;
    padding-bottom: 1em;
}
.share-opp{
    display: flex;
    align-items: center;
    border: 1px solid #5265c4;
    color: #5265c4;
    background-color: white;
    border-radius: 10px;
    height: 4vh;
    cursor: pointer;
    padding: 4px;
    transition: 0.4s;
}
.share-opp:hover{
    background-color: #5265c4;
    color: white;

}
.share-head{
    position: fixed;
    top: 11vh;
  
    display: flex;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: #f2f0f0;
    color: #5265c4;
    height: 8vh;
    border-radius: 5px 5px 0px 0;
}
#none{
    display: none;
}
.opp_content{
    padding-top: 24vh;
}
.share-with-us-header{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 1em;
}
.share-event-focus{
    background-color: white;
    border: #5265c4 1px solid;
    width: 40%;
    height: 5vh;
    color: #5265c4;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
}
.share-internship{
    background-color: #5265c4;
    color: white;
    border: #5265c4 1px solid;
    width: 40%;
    height: 5vh;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
}