* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #fff;
}

.services-container {
  padding: 10px;
  margin-bottom: 4em;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.services img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.card_title{
  color: white;
  font-size: 1.3em;
}
.card_descriptions{
  font-size: 1em;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #5265c4);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h2 {
  font-weight: 500;
  margin-bottom: 20px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.services:hover img {
  transform: scale(1.1);
  height: 100%;
}

.services:hover .layer {
  height: 100%;
  cursor: pointer;
}


.sub-title {
  text-align: center;
  margin-bottom: 50px;
  color: #5265c4;
}

@media (max-width: 700px) {
  .services-list{
    display: flex;
    flex-direction: column;
  }
}