
.Navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    z-index: 99;
  }
  
  .Navbar > .nav-logo {
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
    color: #5265c4;
    border-bottom: solid red 2px;
    border-right: solid red 2px;
    border-radius: 0px 0px 10px 0px;
  }
  .connect{
    color: red;
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin: 0;
  }
  
  .Navbar > .nav-items > a {
    color: #5265c4;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
  }
  
  .Navbar > .nav-items > a:hover {
    opacity: 1;
  }
  
  .Navbar > .nav-items > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #5265c4;
    transition: all 0.45s;
  }
  
  .Navbar > .nav-items > a:hover::before {
    width: 100%;
  }
  .try_out{

    background-color: #3b4da7;
    border: none;
    width: 150px;
    height: 5vh;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 1em;
    transition: 0.3s;
    
  }
  .try_out:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: #3b4da7;
    padding-right: 2em;
    border: #5265c4 2px solid;
  }
  
  .Navbar > .nav-toggle {
    display: none;
  }
  
  @media (max-width: 700px) {
    
    .try_out{
      display: none;
    }
    .Navbar{
      justify-content: space-between;
    }
    .Navbar > .nav-items {
      position: absolute;
      top: 60px;
      display: flex;
      flex-direction: column;
      background: red;
      
      z-index: 99;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(-100%);
      transition: all .45s;
    }
   
  
    .Navbar > .nav-items > a::before {
        background: transparent;
    }
  
    .Navbar > .nav-items.open {
        transform: translateX(0);
    }
  
    .Navbar > .nav-toggle {
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  
    .nav-toggle > .bar {
      position: relative;
      width: 32px;
      height: 2px;
      background:#5265c4;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle > .bar::before,
    .nav-toggle > .bar::after {
      content: "";
      position: absolute;
      height: 2px;
      background: #5265c4;
      border-radius: 2px;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle > .bar::before {
      width: 25px;
      transform: translateY(-8px);
      right: 0;
    }
  
    .nav-toggle > .bar::after {
      width: 32px;
      transform: translateY(8px);
    }
  
    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }
  
    .nav-toggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
  
    .nav-toggle.open > .bar::after {
      transform: rotate(-45deg) translate(26px, 26px);
    }
    .Navbar > .nav-items > a {
      color: white;
      font-size: 16px;
      text-decoration: none;
      margin: 15px;
      position: relative;
      opacity: 0.9;
    }
    
    .Navbar > .nav-items > a:hover {
      opacity: 1;
    }
    
    .Navbar > .nav-items > a::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: white;
      transition: all 0.45s;
    }
    
    .Navbar > .nav-items > a:hover::before {
      width: 100%;
    }
  
  
  }